/******   reset  *******/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/********************/
/*** GENERALITES  ***/
/********************/
html {
  background: white;
  font-size: 62.5%;
}
body {
  min-height: 300vh;
  font-family: "Spartan", sans-serif;
  background: #333;
  padding-top: 110px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}
/******************/
/****** MAIN ******/
/******************/
h1 {
  text-align: center;
  font-size: calc(3vmin + 30px);
  color: coral;
  text-shadow: 8px 8px 15px #000;
  padding: 50px 0;
}

.column {
  /* background: #000; */
  /* max-width: 900px; */
  /* margin: 50px auto; */
}

.row {
  display: flex;
}

.heading_content {
  /* flex-grow: 1; */
}
.heading_content h3 {
  font-size: 35px;
  margin-right: 20px;
  padding: 0 15px;
  color: #f1f1f1;
  position: sticky;
  top: 90px;
  text-shadow: 8px 8px 15px #000;
  writing-mode: vertical-lr;
}

img {
  width: 500px;
  max-width: 500px;
  max-height: 350px;
  border-radius: 8px;
  box-shadow: 0 0 15px #000;
}
